/* Logo and navigation bar */
#landmarks_4 {
    color: rgb(255, 228, 74);
    background-color: white;
}
/* ----------------------------------------------------------------------- */


/* Heading */
.line {
    background-color: rgb(97, 47, 14);
    width: 25em;
    margin-top: 2em;
    height: 3px;
    background-color: black;
}

#heading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -2em;
}

#heading_title {
    color: rgb(97, 47, 14);
    margin-top: 0.5em;
    font-size: 30px;
    width: 30em;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .line {
        width: 3em;
        margin-top: 12.5;
    }

    #heading {
        width: fit-content;
        margin-left: -4em;
        position: relative;
        left: 5em;
    }

    #heading_title {
        margin-top: 4.5em;
        font-size: 30px;
        width: 40em;
        margin-left: -6em;
        margin-right: -6em;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
}
/* ----------------------------------------------------------------------- */


/* Breadcrumbs */
/* #breadcrumb_bar {
    font-size: 25px;
    position: relative;
    top: 6em;
    margin-bottom: -2em;
    text-align: center;
} */
/* ----------------------------------------------------------------------- */


/* Content */
#the_national_september_11_memorial_museum_image {
    margin-left: 20em;
    margin-top: 2em;
}

#history p {
    width: 22em;
    background-color: aliceblue;
    padding: 1em;
    font-size: 20px;
    margin-left: 10em;
}

/* #suggested_activities ul li {
    width: 20em;
    background-color: aliceblue;
    padding: 1em;
}

#list {
    font-size: 20px;
    margin-left: 10em;
    padding: 1em;
} */

#history h3, #suggested_activities h3 {
    font-size: 25px;
    margin-left: 6em;
    background-color: rgb(202, 185, 252);
    width: fit-content;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

#section_1 {
    margin-top: 4em;
    display: flex;
    /* position: absolute; */
}

#section_2 {
    /* margin-bottom: 2em; */
    margin-left: 2em;
    position: relative;
    top: 1.5em;
}

#content, #the_national_september_11_memorial_museum_image {
    margin-top: -0.25em;
}

#heading_title, .line {
    margin-top: 1.5em;
}

.line {
    margin-top: 4em;
}

@media screen and (max-width: 768px) {
    #the_national_september_11_memorial_museum_image {
        margin-left: 17.5em;
    }

    nav ul {
        margin-left: 0.5em;
    }

    #content, #section_1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
    }

    #history, #section2 {
        margin-left: 30em;
    }

    #history p {
        width: 22em;
        background-color: aliceblue;
        padding: 1em;
        font-size: 20px;
        margin-left: -1.25em;
    }

    #section_1 {
        margin-left: -1.5em;
    }

    iframe {
        margin-left: 22.5em;
    }
}
/* ----------------------------------------------------------------------- */