<div class="about-us-container">
    <div class="about-us-content">
      <h2 class="about-us-title">About Us</h2>
      <hr>

      <img src="../../assets/images/img.jpg" alt= "image" class="about-us-image">
      <h3 class="about-us-subtitle">Who we are & What we do</h3>
      <p>
        We are a non-profit organization dedicated to ensuring the well-being of the elderly in every community.
        At our organization, our mission is rooted in a commitment to addressing both the health and social
        needs of the elders. We believe that every individual deserves the opportunity to lead a fulfilling life.
        To support this vision, we provide essential items such as medical supplies and basic needs that contributes
        to the overall welfare of the eldery. A unique aspect of our organization is the "Adopt" program, where you can make a difference by connecting and offering
        companionship to a senior member of your community.  
        <br>
        <p>
        Join us in making a positive impact as we strive to create a community where every elderly person is cared for and 
        embraced with compassion
        </p>
    </div>
  </div>
  