  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2, h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ddd;
    border-radius: 5px;
    padding: 40px;
    width: 350px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  label {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }
  input[type="text"], input[type="password"] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .log {
    background-color: rgb(84, 194, 88);
    color: white;
    padding: 10px 24px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .log:hover {
    background-color: rgb(69, 160, 73);
  }

  .sign {
    background-color: rgb(13, 133, 226);
    color: white;
    padding: 10px 24px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .sign:hover {
    background-color: rgb(12, 107, 180);;
  }

  .logout {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(226, 13, 13);
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .logout:hover {
    background-color: rgb(195, 14, 14);
  }


